@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url('/Content/Images/back_2.jpg');
        background-size: cover; /* Adjust the background-size property as needed */
    }
</style>
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">
            In a pet shop management system, the Admin module plays a pivotal role by providing a user interface to perform essential CRUD (Create, Read, Update, Delete) operations. The system's administrative capabilities empower the store owner or designated personnel to manage various aspects of the pet shop seamlessly.

            The Create function allows the administrator to add new products to the inventory, incorporating details such as product name, description, price, and quantity. This ensures that the system stays updated with the latest additions to the product range.

            For Read operations, the admin section provides a comprehensive overview of the entire inventory. Administrators can easily access detailed information about each product, facilitating informed decision-making and efficient stock management.

            Update functionalities enable the administrator to modify product details as needed. This can include price adjustments, updates to product descriptions, or changes in stock quantities. These modifications are crucial for keeping the inventory accurate and reflective of the current offerings.

            The Delete function allows the removal of products that are no longer part of the inventory or have been discontinued. This ensures that the system maintains data accuracy and helps prevent errors in inventory management.

            In summary, the Admin section's CRUD operations within a pet shop management system provide a user-friendly interface for efficiently managing and maintaining an up-to-date and accurate inventory of pet products.
        </p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <img src="~/Content/Images/pet_store_background.jpg" alt="My Image">
            @*<h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </section>
    </div>
</main>